.about-container{
    margin: 5% 0;
}

.about-container>h2{
    text-align: center;
    color: #6AAFA7;
    font-weight: bold;
    font-size: 2.938rem;
    padding: 5% 0 2% 0;
    margin: 0;
}

.info-container{
    display: flex;
    margin: 0 15%;
}

.info-container>img{
    height: 23rem;
    margin: 0 5rem 0 2rem;
}

.info-container>div{
    margin: 5% 0;
}

.info-container>div>:nth-child(1)>p{
    background-color: #FFFCFC;
    font-size: 1.25rem;
    color: rgba(65, 65, 65, 0.69);
    font-weight: 500;
}

.link-container>a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-bottom: 1.875rem;
    width: 100%;
}

.link-container>a>p{
    font-size: 1rem;
    color: #FF2674;
    margin-left: 2%;
}
.link-container>a>svg{
    color: #FF2674;
}

@media (min-width: 1300px){
    .info-container{
        margin: 0 13%;
    }

    .info-container>div{
        margin: 1% 5rem 0 0;
    }

}

@media (max-width: 425px){
    .about-container{
        background-image: none;
        height: auto;
    }

    .info-container{
        margin: 0;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .info-container>img{
        width: 8rem;
        height: auto;
        margin: 0;
        align-self: center;
    }

    .about-container>h2{
        padding: 0 0 5% 0;
        font-size: 1.25rem;
    }

    .info-container>div>:nth-child(1){
        background-color: white;
    }

    .info-container>div>:nth-child(1)>p{
        font-size: 1rem;
        margin: 0 4%;
    }

    .info-container>img{
        width: 6rem;
    }

    .link-container{
        justify-content: center;
        padding-top: 4%;
    }

    .link-container>a{
        padding-left: 2%;
    }

    .link-container>p{
        margin: 1%;
        font-size: 0.875rem;
    }
}

@media (max-width: 975px){
    .info-container {
        margin: 0 0%;
    }

    .info-container>img {
        margin: 0 2% 0 3%;
    }

    .info-container>div>:nth-child(1)>p {
        padding-right: 3%;
    }
}