.header{
    display: flex;
    height: 3.938rem;
    background: #79CDC3;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.header>nav{
    display: flex;
    align-items: center;
    width: 100%;
}

.header>nav>ul{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    margin: 0 1%;
    list-style:none;
}

.header>nav>ul>li{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 1%;
    font-weight: bold;
    font-size: 1.125rem;
    cursor: pointer;
}

.menu-icon-container, .hide{
    display: none;
}


@media (max-width: 425px){

    .header{
        justify-content: flex-end;
        height: 2.7rem;
    }

    .header>nav{
        display: none;
    }
    .hide{
        display: none;
    }

    .menu-icon-container{
        display: block;
        margin: 1% 2% 0 0;
    }

    .menu-icon-container>svg{
        color: white;
        font-size: 2.1rem;
        display: block;
    }

    header>:nth-child(3){
        background: #79CDC3;
        position: absolute;
        right: 0;
        box-sizing: border-box;
        width: 16rem;
        height: 30rem;
    }

    header>:nth-child(3)>nav>ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    header>:nth-child(3)>nav>ul>li{
        display: flex;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 20px;
        color: #FCFCFC;
        margin: 15% 5%;
    }

    header>:nth-child(3)>svg{
        font-size: 3rem;
        color: white;
        margin-left: 80%;
        margin-top: 2%;
    }

}